<br>
<div class="container">
    <h1 class="display-4">Cursos en auxiliatura</h1>
    <br>
    <div *ngFor="let cursos of registroAsignados"> 
        <div class="card" >
            <h5 class="card-header">{{cursos.nombre}}-{{cursos.descripcion}}</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5 class="card-title"><b>Sección:</b> {{cursos.seccion}} </h5>
                        <p class="card-text"> Horario: {{cursos.inicio}} a {{cursos.fin}}</p>
                    </div>
                    <div class="col">
                        <button class="btn btn-login" (click)="foro(cursos.cod_ASIGNACION)">Foros</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-login" (click)="ticket(cursos.cod_ASIGNACION)">Tickets</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-login" (click)="agregar(cursos.cod_ASIGNACION)">Actividades</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-login" (click)="asistencia(cursos.cod_ASIGNACION)">Asistencia</button>
                    </div>
                    <div class="col">
                            <button class="btn btn-login" (click)="test(cursos.cod_ASIGNACION)">Test</button>
                        </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>