<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="navbar-brand"> Bienvenido, <i>usuario</i></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" routerLink="actividades">Cursos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="mensajes">Mensajes <span class="sr-only">(current)</span></a>
              </li>
            
          
          </ul>
          <a href="#">
          <span class="navbar-text">
           Cerrar sesión
          </span>
        </a>
        </div>
      </nav>
    <router-outlet></router-outlet>
